{% extends "NewsletterBase.html.twig" %}

    <h2>Joyeux Anniversaire</h2>
    
    {% block content %}
<p><strong>Bonjour {{user.firstname}},</strong></p>
<p>Terre D'Avalonne vous souhaite un joyeux anniversaire !</p>
<p>C'est avec un grand plaisir ,que nous vous offrons un cadeau :</p>

<p>{{user.giftCode}}</p>

<p>http://terre-d-avalon.fr/espace-client</p>
<p>Nous vous souhaitons une bonne journée !</p>
<p>L'équipe Terre D'Avalonne</p>


    {% endblock %}


        