{% extends "NewsletterBase.html.twig" %}
    
   {% block title %}Newsletter{% endblock %}
     
     
 <h2>Newsletter</h2>

   {% block content %}
   <form action="{{ path('newsletter_send') }}" method="post">
    <label for="email">Email</label>
   {% endblock %}