{% extends "NewsletterBase.html.twig" %}
    
   {% block title %}Confirmation Newsletter{% endblock %}

  
 <h2>Confirmation inscription Newsletter</h2>

   {% block content %}
   <p>Bonjour {{user.username}}</p>
   <p>Votre inscription a bien été prise en compte</p>

   {% endblock %}
   