{% extends "NewsletterBase.html.twig" %}
    
   {% block title %}Desinscription  Newsletter{% endblock %}

    
 <h2>Désinscription Newsletter</h2>

   {% block content %}
   
   <p>Vous êtes bien désinscrit de la newsletter</p>
   {% endblock %}
  