{% extends "NewsletterBase.html.twig" %}
    
   {% block title %}Newsletter{% endblock %}
     
     
 <h2>Newsletter</h2>

   {% block content %}

   {% block text1 %}{% endblock %}
   {% block img1 %}{% endblock %}
   {% block text2 %}{% endblock %}
   {% block img2 %}{% endblock %}
   
   <form action="{{ path('newsletter_send') }}" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
    <input type="submit" value="Envoyer" />
    </form>
   <p>L'équipe Terre D'Avalonne</p>

   {% endblock %}