<section class="ftco-section ftco-partner">
    <div class="container">
        <div class="row">
            <div class="col-sm ftco-animate fadeInUp ftco-animated">
                <a href="#" class="partner"><img class="img-fluid" alt="Colorlib Template" data-pagespeed-url-hash="3780995850" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" src="https://preview.colorlib.com/theme/vegefoods/images/xpartner-1.png.pagespeed.ic.RHSia-jQRH.png"></a>
            </div>
            <div class="col-sm ftco-animate fadeInUp ftco-animated">
                <a href="#" class="partner"><img src="https://preview.colorlib.com/theme/vegefoods/images/xpartner-2.png.pagespeed.ic.H3qolt-W2X.png" class="img-fluid" alt="Colorlib Template" data-pagespeed-url-hash="4075495771" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
            </div>
            <div class="col-sm ftco-animate fadeInUp ftco-animated">
                <a href="#" class="partner"><img src="https://preview.colorlib.com/theme/vegefoods/images/xpartner-3.png.pagespeed.ic.dC-W4WLFT0.png" class="img-fluid" alt="Colorlib Template" data-pagespeed-url-hash="75028396" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
            </div>
            <div class="col-sm ftco-animate fadeInUp ftco-animated">
                <a href="#" class="partner"><img src="https://preview.colorlib.com/theme/vegefoods/images/xpartner-4.png.pagespeed.ic.sLtytF9G9z.png" class="img-fluid" alt="Colorlib Template" data-pagespeed-url-hash="369528317" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
            </div>
            <div class="col-sm ftco-animate fadeInUp ftco-animated">
                <a href="#" class="partner"><img src="https://preview.colorlib.com/theme/vegefoods/images/xpartner-5.png.pagespeed.ic.tcQzKAf5Lc.png" class="img-fluid" alt="Colorlib Template" data-pagespeed-url-hash="664028238" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
            </div>
        </div>
    </div>
</section>
