<div class="home-section-one">
    <div class="home-btn">
            <div class="home-circle">
                <div class="home-in-circle-border">
                    <svg width="40" height="40" viewBox="0 0 83 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M43.1739 32.4785C43.1739 39.7321 38.1522 49.8871 38.1522 49.8871L43.1739 32.4785ZM39.8261 35.38C39.8261 35.38 44.8478 23.7742 33.1304 15.07C21.413 6.36566 3 9.26709 3 9.26709C3 9.26709 3 20.8728 13.0435 29.5771C23.087 38.2814 39.8261 35.38 39.8261 35.38ZM43.1739 29.5771C43.1739 29.5771 38.1522 17.9714 49.8696 9.26709C61.587 0.562798 80 3.46423 80 3.46423C80 3.46423 80 15.07 69.9565 23.7742C59.913 32.4785 43.1739 29.5771 43.1739 29.5771ZM16.3913 49.8871H59.913C59.913 49.8871 63.2609 76 38.1522 76C13.0435 76 16.3913 49.8871 16.3913 49.8871Z" stroke="#FFF" stroke-width="4.6875" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div class="text-center">
                <h3 class="heading">Plantes</h3>
            </div>
    </div>
</div>
