{% extends "MailsBase.html.twig" %}
    
   {% block title %}Commande expédiée{% endblock %}

    
 <h2>Commande expédiée</h2>

   {% block content %}
   <p>Bonjour {{user.firstname}}, Votre commande a été expédiée</p>
   {% endblock %}