{% extends "MailsBase.html.twig" %}
    
   {% block title %}Commande validée{% endblock %}

   
 <h2>Commande validée</h2>

   {% block content %}
   <p>Merci {{user.firstname}}, Votre commande numéro {{'id': order.id}} est validée</p>
   <p>Vous pouvez consulter votre commande en cliquant sur le lien ci-dessous</p>
   
   {% endblock %}