{% extends "OrderBase.html.twig" %}

{% block title %}Confirmation de commande{% endblock %}

<h2>Confirmation de commande</h2>

 {% block content %}
 <p>Votre commande num a bien été enregistrée.</p>
   <p>Vous allez recevoir un email de confirmation.</p>
   <p>Merci pour votre achat.</p>
   <p>A bientôt sur le site.</p>


   {% endblock %}