{% extends "OrderBase.html.twig" %}

<h2>Chèque Cadeau</h2>

{% block content %}

 <p>Bonjour, {{user.firstname}}{{user.lastname}}</p>
<p>A bientôt sur notre site.</p>
   <p>L'équipe Terre D'Avalonne</p>
{% endblock %}