{% extends "MailsBase.html.twig" %}
    
   {% block title %}Confirmation inscription{% endblock %}

  
 <h2>Confirmation Inscription</h2>

{% block content %}
    <p>Votre inscription a bien été prise en compte, vous pouvez dès à présent vous connecter.</p>
    <p>Vous pouvez vous connecter </p>
   {% endblock %}
   