{% extends "MailsBase.html.twig" %}
    
   {% block title %}Confirmation inscription{% endblock %}

  
 <h2>Confirmation Inscription</h2>
{% block content %}
    <p>Votre inscription a bien été prise en compte, vous pouvez dès à présent vous connecter.</p>
    <p>Votre identifiant est : {{ user.username }}</p>
    <p>Votre mot de passe est : {{ user.password }}</p>
    <p>Vous pouvez vous connecter à l'adresse suivante : <a href="http://localhost:8000/login">http://localhost:8000/login</a></p>
   {% endblock %}
   