<div class="col-lg-9 col-md-7">
    {#              HEAD SECTION              #}
    {{ include ('shop/_shop_products_section_body_head.html.twig') }}
    {#              FILTER_GRID             #}
    {{ include ('shop/_shop_products_filter_grid.html.twig') }}
    {#              PRODUCTS_GRID             #}
    {{ include ('shop/_shop_products_grid.html.twig') }}
</div>
