<div class="col-lg-3 col-md-5">
    <div class="sidebar">
        <div class="sidebar__item">
            <h4>Type</h4>
            <ul>
                {% for i in 0..5 %}
                    <li>
                        <label for="">Formation</label>
                        <input type="checkbox">
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="sidebar__item">
            <h4>Categories</h4>
            <ul>
                {% for i in 0..5 %}
                    <li>
                        <label for="">Plantes</label>
                        <input type="checkbox">
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="sidebar__item">
            <h4>Eléments</h4>
            <ul>
                {% for i in 0..5 %}
                    <li>
                        <label for="">Bois</label>
                        <input type="checkbox">
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="sidebar__item">
            <h4>Derniers produits / Pub</h4>
            <ul>

            </ul>
        </div>
    </div>
</div>
