<div class="col-md-4 pricing-card">
    <div class="d-flex mb-16">
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M30.332 17C30.332 13.4638 28.9273 10.0724 26.4268 7.57195C23.9263 5.07147 20.5349 3.66671 16.9987 3.66671C13.4625 3.66671 10.0711 5.07147 7.57061 7.57195C5.07012 10.0724 3.66536 13.4638 3.66536 17V23.6667H8.66536C9.10739 23.6667 9.53132 23.8423 9.84388 24.1549C10.1564 24.4674 10.332 24.8913 10.332 25.3334V30.3334H23.6654V25.3334C23.6654 24.8913 23.841 24.4674 24.1535 24.1549C24.4661 23.8423 24.89 23.6667 25.332 23.6667H30.332V17ZM26.9987 27V32C26.9987 32.4421 26.8231 32.866 26.5105 33.1786C26.198 33.4911 25.7741 33.6667 25.332 33.6667H8.66536C8.22334 33.6667 7.79941 33.4911 7.48685 33.1786C7.17429 32.866 6.9987 32.4421 6.9987 32V27H1.9987C1.55667 27 1.13275 26.8244 0.820187 26.5119C0.507626 26.1993 0.332031 25.7754 0.332031 25.3334V17C0.332031 7.79504 7.7937 0.333374 16.9987 0.333374C26.2037 0.333374 33.6654 7.79504 33.6654 17V25.3334C33.6654 25.7754 33.4898 26.1993 33.1772 26.5119C32.8647 26.8244 32.4407 27 31.9987 27H26.9987ZM9.4987 20.3334C9.17039 20.3334 8.8453 20.2687 8.54199 20.1431C8.23868 20.0174 7.96308 19.8333 7.73093 19.6011C7.49878 19.369 7.31464 19.0934 7.189 18.7901C7.06336 18.4868 6.9987 18.1617 6.9987 17.8334C6.9987 17.5051 7.06336 17.18 7.189 16.8767C7.31464 16.5734 7.49878 16.2978 7.73093 16.0656C7.96308 15.8335 8.23868 15.6493 8.54199 15.5237C8.8453 15.398 9.17039 15.3334 9.4987 15.3334C10.1617 15.3334 10.7976 15.5968 11.2665 16.0656C11.7353 16.5344 11.9987 17.1703 11.9987 17.8334C11.9987 18.4964 11.7353 19.1323 11.2665 19.6011C10.7976 20.07 10.1617 20.3334 9.4987 20.3334V20.3334ZM24.4987 20.3334C24.1704 20.3334 23.8453 20.2687 23.542 20.1431C23.2387 20.0174 22.9631 19.8333 22.7309 19.6011C22.4988 19.369 22.3146 19.0934 22.189 18.7901C22.0634 18.4868 21.9987 18.1617 21.9987 17.8334C21.9987 17.5051 22.0634 17.18 22.189 16.8767C22.3146 16.5734 22.4988 16.2978 22.7309 16.0656C22.9631 15.8335 23.2387 15.6493 23.542 15.5237C23.8453 15.398 24.1704 15.3334 24.4987 15.3334C25.1617 15.3334 25.7976 15.5968 26.2665 16.0656C26.7353 16.5344 26.9987 17.1703 26.9987 17.8334C26.9987 18.4964 26.7353 19.1323 26.2665 19.6011C25.7976 20.07 25.1617 20.3334 24.4987 20.3334V20.3334Z" fill="#0B0914"/>
        </svg>
        <h4 class="ml-8">{{ product.name }}</h4>
    </div>
    <p>What you'll get</p>
    <div class="mb-16 mt-30">
        <div class="d-flex">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 2.00012C6.486 2.00012 2 6.48612 2 12.0001C2 17.5141 6.486 22.0001 12 22.0001C17.514 22.0001 22 17.5141 22 12.0001C22 6.48612 17.514 2.00012 12 2.00012ZM10.001 16.4131L6.288 12.7081L7.7 11.2921L9.999 13.5871L15.293 8.29312L16.707 9.70712L10.001 16.4131Z" fill="#35353F"/>
            </svg>
            <p class="ml-8">{{ product.description }}</p>
        </div>
        <svg width="320" height="1" viewBox="0 0 320 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="0.5" y1="0.5" x2="319.5" y2="0.5" stroke="#A9A9AA" stroke-linecap="round" stroke-dasharray="4 4"/>
        </svg>
    </div>
    <div class="pricing-card-price">
        {{ product.price }} €
    </div>

    <button class="pricing-card-btn">
        <a href='{{path("app_basket_add_coaching", {id: product.id})}}'><i class="bi bi-cart-plus"></i>Choisir</a>
    </button>
</div>
