{% extends 'dashboard/dashboard_base.html.twig' %}

{% block body_dashboard %}
    <div class="dashboard-support">
       <div>Vous avec une question ou un problème ?</div>
        <form action="">
            <div>
                <label for="">Email</label>
                <input type="text" value="">
            </div>
            <div>
                <label for="">Sujet</label>
                <input type="text" value="">
            </div>
            <div>
                <label for="">Message</label>
                <input type="text" value="">
            </div>
            <button>Envoyer</button>
        </form>
    </div>
{% endblock %}
