{% extends 'dashboard/dashboard_base.html.twig' %}

{% block body_dashboard %}
    <div class="dashboard-orders">
        <table>
            <thead>
            <tr>
                <th >Commandes</th>
                <th >Status</th>
                <th>Total</th>
                <th ></th>
                <th ></th>
                <th ></th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center">
                <td class="product-name">
                    <h3>#333222</h3>
                </td>
                <td>Terminée</td>
                <td class="total">110.90 €</td>
                <td class="total">Suivre</td>
                <td class="total">Voir plus</td>
                <td class="total">Acheter</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
