{% extends 'dashboard/dashboard_base.html.twig' %}

{% block body_dashboard %}
    <div class="dashboard-settings">
        <div>
            <h4>Modifier votre mot de passe</h4>
            <div>
                <form action="">
                    <div>
                        <label for="">Mot de passe actuel</label>
                        <input type="text">
                    </div>
                    <div>
                        <label for="">Nouveau mot de passe</label>
                        <input type="text">
                    </div>
                    <button>Valider</button>
                </form>
            </div>
            <div>
                <a href="">Se désinscrire de la newsletter</a>
            </div>
        </div>
    </div>
{% endblock %}
