{% extends 'dashboard/dashboard_base.html.twig' %}

{% block body_dashboard %}
    <div class="dashboard-formations">
        <div class="dashboard-formations-filter-bar">
            <div class="dashboard-formations-filter-bar__select mr-32 dfzMmQ webapp-0-webapp119 webapp-0-webapp121 webapp-0-webapp344, webapp-0-webapp344 webapp-0-webapp344 webapp-0-webapp344" >
                Categories
            </div>
            <div class="dashboard-formations-filter-bar__select mr-32 dfzMmQ webapp-0-webapp119 webapp-0-webapp121 webapp-0-webapp344, webapp-0-webapp344 webapp-0-webapp344 webapp-0-webapp344" >
                Thème
            </div>
        </div>
        <div class="dashboard-formations-body">
            <div class="dashboard-formations-tuile p-0">
                <div class="dashboard-formations-tuile-item">
                    <div class="sc-gKXOVf jchUWM MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 sc-crXcEl gJUTyV MuiCard-root webapp-0-webapp288 webapp-0-webapp311">
                        <div class="sc-ezWOiH bsWQIr webapp-0-webapp312 MuiCardContent-root webapp-0-webapp310 webapp-0-webapp297">
                            <li class=" webapp-0-webapp313">
                                <a class="webapp-0-webapp322" href="/fr/paths/556-developpeur-web">
                                    <div class="webapp-0-webapp315 webapp-0-webapp300 webapp-0-webapp316 webapp-0-webapp299 ">
                                        <div class="webapp-0-webapp320" style="background-color: rgb(0, 131, 143); --darkreader-inline-bgcolor: #006972;" data-darkreader-inline-bgcolor="">
                                            <figure class="webapp-0-webapp328 webapp-0-webapp326 webapp-0-webapp294  " style="background-image: url(&quot;https://oc-static.imgix.net/prod/images/paths/illustrations/556/16377657289479_WEB_DEV_JR.png?auto=compress,format&amp;q=80&quot;);">
                                            </figure>
                                        </div>
                                        <div class="webapp-0-webapp321 webapp-0-webapp298">
                                            <span class="sc-kDDrLX gcgRFU MuiTypography-root MuiTypography-overline webapp-0-webapp317" style="color: rgb(0, 131, 143); --darkreader-inline-color: #68f2ff;" data-darkreader-inline-color="">
                                                Recette - Formation</span>
                                            <h6 class="sc-kDDrLX kXUYzE MuiTypography-root MuiTypography-h6 webapp-0-webapp319">Technique XY</h6>
                                            <div class="webapp-0-webapp318">

                                            </div>
                                            <div class="webapp-0-webapp314 webapp-0-webapp293">
                                                <span class="webapp-0-webapp293">Faites vos premiers pas dans le monde : créez  et donnez vie  !</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
